
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits     {:git/url "https://github.com/bithandshake/cljc-fruits"
                                       :sha     "8407fd45de2c559537d2b3e80df398903a6f0696"}
         bithandshake/cljc-io         {:git/url "https://github.com/bithandshake/cljc-io"
                                       :sha     "d1c27739151143f4865818052bff4bedb039db9b"}
         bithandshake/cljc-time       {:git/url "https://github.com/bithandshake/cljc-time"
                                       :sha     "dab17c512efbd8ff1336ff9a7495434fc52ef975"}
         bithandshake/cljc-validator  {:git/url "https://github.com/bithandshake/cljc-validator"
                                       :sha     "8407fd45de2c559537d2b3e80df398903a6f0696"}
         mt-server-kit/clj-system-log {:git/url "https://github.com/mt-server-kit/clj-system-log"
                                       :sha     "8407fd45de2c559537d2b3e80df398903a6f0696"}
         org.clojure/clojure          {:mvn/version "1.10.1"}}}
