
{:paths ["source-code/clj"]
 :deps  {bithandshake/clj-edn-log    {:git/url "https://github.com/bithandshake/clj-edn-log"
                                      :sha     "c04e9085854e2654172562845ce28f0667842504"}
         bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "c04e9085854e2654172562845ce28f0667842504"}
         bithandshake/cljc-io        {:git/url "https://github.com/bithandshake/cljc-io"
                                      :sha     "f5e6c94a175cfecddfd1ba94f7170a9802b2d703"}
         bithandshake/cljc-time      {:git/url "https://github.com/bithandshake/cljc-time"
                                      :sha     "9d3aa0414b2e5ecbdeeb12b9ea956f40fb4d332b"}
         bithandshake/cljc-validator {:git/url "https://github.com/bithandshake/cljc-validator"
                                      :sha     "c04e9085854e2654172562845ce28f0667842504"}}}
